<script type="text/javascript">
  var BASE_URL = '{{ site.url }}';
</script>

<script>
  window.cookieconsent.initialise({
    container: document.getElementById("content"),
    palette:{
      popup: {background: "#fff"},
      button: {background: "#aa0000"},
    },
    revokable:true,
    onStatusChange: function(status) {
      console.log(this.hasConsented() ?
        'enable cookies' : 'disable cookies');
    },
    law: {
      regionalLaw: false,
    },
    content:{
      header: 'Cookies used on the website!',
      message: 'Questo sito utilizza cookies di terze parti.',
      dismiss: 'Capito',
      allow: 'Allow cookies',
      deny: 'Decline',
      link: 'Informativa sulla privacy.',
      href: '/cookies/',
      close: '&#x274c;',
    },
    location: false,
  });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>

{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  if (document.cookie.search ('cookieconsent_status=dismiss') >= 0)
  {
    var _gaq = _gaq || [];
    var pluginUrl =
   'https://www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = 'https://stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  }
</script>
{% endif %}
